ncaa*.txt
sample*.txt
sample*.csv
*.png
*.jpg
*.jpeg
boxscore_pages/*
scoreboard_pages/*
models/*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
